{% load wagtailcore_tags %}
<nav {{ params }} {% for block in self.parameters %}{% include_block block %} {% endfor %} class="{{ class }} navbar {% if self.expand %}navbar-expand-{{ self.expand }}{% endif %} {% for block in self.style %}{% include_block block %} {% endfor %}">
  <a class="navbar-brand" href="#">
  {% if brand %}
  {% for block in brand %}
      {% include_block block only %}
  {% endfor %}
  {% else %}
  {{ page.title }}
  {% endif %}
  </a>
  {% if self.expand %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% endif %}
  {% include_block self.nav with class="collapse navbar-collapse" content=content tag="div" only %}
</nav>