{% load wagtailcore_tags wagtailimages_tags %}
<div class="card {% for block in self.style %}{% if block.block_type == 'card_color' %}card-{% include_block block %}{% else %}{% include_block block %}{% endif %} {% endfor %}">
    {% for block in self.content %}
    {% if block.block_type == "image" %}
    {% image block.value fill-1200x600 as img %}
    <img src="{{ img.url }}" class="img-fluid" >
    {% elif block.block_type == "header" %}
    <div class="card-header">
    {% include_block block %}
    </div>
    {% elif block.block_type == "footer" %}
    <div class="card-footer">
    {% include_block block %}
    </div>
    {% else %}
    <div class="card-body">
    {% if block.block_type == "title" %}
    <div class="card-title">
        {% include_block block %}
    </div>
    {% elif block.block_type == "subtitle" %}
    <div class="card-subtitle">
        {% include_block block %}
    </div>
    {% else %}
    {% include_block block %}
    {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div>