{% load wagtailcore_tags %}
<div class="btn-group" role="group">
{% include_block self.button with content=self.content type="button" class="dropdown-toggle" params="aria-haspopup='true' aria-expanded='false' data-toggle='dropdown'"%}
{% include_block self.items with content=self.content type="button" class="dropdown-toggle" params="aria-haspopup='true' aria-expanded='false' data-toggle='dropdown'"%}
</div>
<button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
  <a class="dropdown-item" href="#">Dropdown link</a>
  <a class="dropdown-item" href="#">Dropdown link</a>
</div>