<style>
body .bg-{{ self.name }}{
  background-color: {{ self.color }};
}

body .border-{{ self.name }}{
  border-color: {{ self.color }};
}

body .text-{{ self.name }}{
  color: {{ self.color }};
}

body a .text-{{ self.name }}:hover{
  color: #fff;
}

body .btn-{{ self.name }}{
  background-color: {{ self.color }};
  color: #fff;
}

body .btn-{{ self.name }}:hover{
  background-color: {{ self.color }};
  color: #fff;
}

body .btn-{{ self.name }}{
  background-color: {{ self.color }};
}

body .btn-outline-{{ self.name }}{
  color: {{ self.color }};
  border-color: {{ self.color }};
}

body .btn-outline-{{ self.name }}:hover {
  color: #fff;
  background-color: {{ self.color }};
  border-color: {{ self.color }};
}

body .border-{{ self.name }}{
  border-color: {{ self.color }};
}
</style>