{% load wagtailcore_tags wagtailimages_tags %}
<div class="card {% for block in self.style %}{% include_block block %} {% endfor %}">
    {% if self.header.value  %}
    <div class="card-header">
    {% include_block self.header %}
    </div>
    {% endif %}
    {% if self.card_image %}
    {% include_block self.card_image %}
    {% endif %}
    <div class="card-body">
    {% for block in self.content %}
    {% if block.block_type == "title" %}
    <div class="card-title">
        {% include_block block %}
    </div>
    {% elif block.block_type == "subtitle" %}
    <div class="card-subtitle">
        {% include_block block %}
    </div>
    {% else %}
        {% include_block block %}
    {% endif %}
    {% endfor %}
    </div>
    {% if self.footer.value %}
    <div class="card-footer">
    {% include_block self.footer %}
    </div>
    {% endif %}
</div>