{% load wagtailcore_tags %}
<div {{ params }} {% for block in self.parameters %}{% include_block block %} {% endfor %} class="{{ class }} btn-group {% for block in self.style %}{% include_block block %} {% endfor %}" role="group">
  {% include_block self.button with class="dropdown-toggle" param="data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'" %}
  <div class="dropdown-menu">
  {% for block in self.nav %}
    {% if block.block_type == "divider" %}
    <div class="dropdown-divider"></div>
    {% else %}
    {% include_block block with class="dropdown-item" %}
    {% endif %}
  {% endfor %}
  </div>
</div>